$step-margin-bottom: 50px;
$border-color: #b7bfd1;
$green: #3cc896;

.flow-steps {
  margin: 10px 0;
  position: relative;
  .flow-step {
    margin-left: 70px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 30px;
      height: calc(100% - 0px);
      width: 2px;
      background: #b7bfd1;
      z-index: 1;
    }
    &__header {
      border-radius: 4px;
      border: 1px solid $border-color;
      display: flex;
      padding: 10px;
      position: relative;
      z-index: 2;
      background: #fff;
      transition: all 0.3s ease;
      &:hover {
        border-color: $green;
      }
      .flow-step__image {
        height: 40px;
        width: 40px;
        border-radius: 4px;
        border: 1px solid $border-color;
        margin-right: 10px;
      }
      .flow-step__info {
        .flow-step__title {
          font-size: 0.9rem;
          margin: 0;
        }
      }
    }
    &__simple-arrow-wrapper {
      width: 100%;
      height: 50px;
      position: relative;
      &:hover {
        .add-button {
          opacity: 1;
        }
      }
      .add-button:not(.add-button--principal) {
        left: 23px;
        top: 13px;
      }
      .arrow--down {
        left: 25px;
        bottom: 0;
      }
    }

    &__branch-arrow-wrapper {
      width: 100%;
      height: 50px;
      position: relative;
      &:hover {
        .add-button {
          opacity: 1;
        }
      }
      &--top {
        .add-button {
          left: 93px;
          &:not(.add-button--single) {
            top: 19px;
          }
          &--single {
            opacity: 1;
            top: 50px;
          }
        }
        .arrow--down {
          left: 95px;
          bottom: 0;
        }
      }
      &--bottom {
        .add-button {
          top: 15px;
          left: 93px;
        }
      }
    }
  }
}

.flow-step--conditional {
  .flow-step__branch-arrow-wrapper {
    &--top {
      &::before {
        content: "";
        height: 6px;
        width: 6px;
        left: 28px;
        top: 23px;
        position: absolute;
        transform: rotate(45deg);
        background: $border-color;
      }
    }
    label.conditional-label {
      background: #f9f9f9;
      font-size: 0.8rem;
      padding: 2px 5px;
      position: absolute;
      margin: 0;
      color: $border-color;
      z-index: 2;
      &.yes-label {
        top: 14px;
        left: 54px;
      }
      &.no-label {
        top: 40px;
        left: 17px;
      }
    }
  }
}

.flow-step--for-loop {
  .flow-step__branch-arrow-wrapper {
    &--top {
      &::before {
        content: "";
        height: 23px;
        width: 2px;
        left: 30px;
        top: 21px;
        z-index: 1;
        position: absolute;
        background: #f9f9f9;
      }
      .arrow--right {
        left: 58px;
        bottom: 4px;
      }
    }
  }
}

.arrow {
  width: 0;
  height: 0;
  position: absolute;
  &--down {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid $border-color;
  }
  &--right {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 9px solid $border-color;
  }
}

.add-button {
  height: 16px;
  width: 16px;
  background: darken($border-color, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 3;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  border-radius: 4px;
  &:not(&--principal):hover {
    background: $green;
  }
  &--principal {
    height: 25px;
    width: 25px;
    opacity: 1;
    background: #fff;
    border: 1px solid $border-color;
    color: #37aaff;
    font-size: 25px;
    left: 19px;
    top: 26px;
    &:hover {
      color: #338fd6;
    }
  }
}
